<%- include('partials/header'); -%>

<header>
  <div class>
    <img src="http://localhost:3000/public/icon.png" alt="" />
  </div>
  <div class="headings">
    <h2>CRIPTO</h2>
    <h3>Code scripts with ya friends !</h3>
    <a href="/login" class="btn">Join Scripto</a>
  </div>
</header>
