<%- include('partials/header'); -%>

  <body>
    <form class="card" method="post" action="/join">
      <h2>Enter Room Code</h2>

      <label for="room"></label>
      <input
        type="text"
        id="room"
        name="room"
        placeholder="Enter Room Code"
        required
      />
      <button class="green btn" type="submit">Join</button>
    </form>
  </body>
</html>
