<%- include('partials/header'); -%>
<body>
  <div class="uh_snake">
    <img src="http://localhost:3000/public/icon.png" alt="" />
  </div>
  <div class="button-wrap">
    <div>
      <a href="/createRoom" class="btn">+ Create Room</a>
    </div>
    <div><a href="/join" class="btn">>> Join Room </a></div>
    <div><a href="/solve" class="btn">&#10004; SOLVE </a></div>
    <div><a href="/createProblem" class="btn">|| Create Problem</a></div>
  </div>
</body>
